.region-btn{
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    flex: 1;
    text-align: center;    
    background-color: rgb(49 60 73 / 80%);
    opacity: 1;
    transition: opacity 0.1s ease; /* Transición suave */
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border-radius:1px;
}

#btnGL{
    /* background-color: rgb(49 60 73 / 80%); */
    
    /* margin: 10px 0 0;
    padding: 5px; */
    background-color: #435971;
}

.region-btn:hover{
    opacity: 0.7; 
    /* filter: brightness(120%);  */    
    /* filter: opacity(60%); Hace al elemento 50% transparente */
    /* transition: filter 0.2s; Aplica una transición de 5 segundos al cambio de filtro */

}

#hltv-split-container{
    display: flex;
    width: 100%;
    padding: 5px;
    gap: 10px;
}